
@{
    ViewBag.Title = "Inicio";
}

<h2>Conta on Line</h2>

<p>Bem vindo ao sistema de Contas On Line</p>
<hr />

<ul class="list-group">
    <li class="list-group-item">
        <a href='@Url.Action("Inicio","Conta")'>Contas a Pagar Receber</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio","ContaCorrente")'>Conta Corrente</a>
    </li>
    <li class="list-group-item">

        <a href='@Url.Action("Inicio","ContaCategoria")'>Categorias de Conta</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio","Contato")'>Contatos</a>
    </li>


</ul>




